body
  font-size: .12rem
  position: absolute
  top: 0
  bottom: 0
  width: 100%
  display: -webkit-flex
  -webkit-flex-direction: column
.header
  height: .5rem
  line-height: .5rem
  border-bottom: 1px solid #ccc
  text-align: center
  ul
    display: -webkit-flex
    li
      -webkit-flex: 1
    .cur
      border-bottom: 1px solid #617EF6
      color: #617EF6

